<%- include ("templates/head2.ejs") %>

<h1>
  Artemis supporters
</h1>
<hr />
<br />
@Zero Zebra <br />
@Yen D'Arr <br />
@Yojimbo <br />
@zk <br />
@grizzly <br />
@ClickTek <br />
@Shiromori <br />
<br />

<%- include ("templates/bottom.ejs") %>
