<%- include ("templates/spectrumhead.ejs") %>

<style>
  #thumbnail1 {
    background-image: url("https://artemisbot.eu/static/images/spectrum/magenta.png");
  }

  .thumbnail {
    width: 200px;
    height: 200px;
    background-size: 1920px 540px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
    background-position-y: 100%;
    background-position-x: 35%;
  }
</style>
<!--Table MAGENTA-->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 25%;">
        <div
          class="thumbnail"
          style="
            background-image: url(https://artemisbot.eu/static/images/spectrum/magenta.png);
          "
        ></div>
      </td>
      <td style="width: 75%; text-align: center;">
        <div class="glitch" style="color: #ff00ff; font-size: 30px;">
          Magenta
          <p class="subtitle" style="color: #ffffff;">Cinnamon Theme</p>
        </div>
        <br /><br /><br />
        <button
          class="buttonlink"
          style="background-color: rgba(255, 0, 242, 0.05);"
          onclick="location.href='https://artemisbot.eu/static/download/Artemis-Spectrum-Magenta.tar.gz'"
          type="button"
        >
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table> <br />

<!--Table CYAN-->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 25%;">
        <div
          class="thumbnail"
          style="
            background-image: url(https://artemisbot.eu/static/images/spectrum/cyan.png);
          "
        ></div>
      </td>
      <td style="width: 75%; text-align: center;">
        <div class="glitch" style="color: #00ffd5; font-size: 30px;">
          Cyan
          <p class="subtitle" style="color: #ffffff;">Cinnamon Theme</p>
        </div>
        <br /><br /><br />
        <button
          class="buttonlink"
          style="background-color: rgba(0, 255, 234, 0.05);"
          onclick="location.href='https://artemisbot.eu/static/download/Artemis-Spectrum-Cyan.tar.gz'"
          type="button"
        >
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table> <br />

<!--Table GREEN-->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 25%;">
        <div
          class="thumbnail"
          style="
            background-image: url(https://artemisbot.eu/static/images/spectrum/green.png);
          "
        ></div>
      </td>
      <td style="width: 75%; text-align: center;">
        <div class="glitch" style="color: #00ff0d; font-size: 30px;">
          Green
          <p class="subtitle" style="color: #ffffff;">Cinnamon Theme</p>
        </div>
        <br /><br /><br />
        <button
          class="buttonlink"
          style="background-color: rgba(43, 255, 0, 0.05);"
          onclick="location.href='https://artemisbot.eu/static/download/Artemis-Spectrum-Green.tar.gz'"
          type="button"
        >
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table> <br />

<!--Table RED-->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 25%;">
        <div
          class="thumbnail"
          style="
            background-image: url(https://artemisbot.eu/static/images/spectrum/red.png);
          "
        ></div>
      </td>
      <td style="width: 75%; text-align: center;">
        <div class="glitch" style="color: #ff0000; font-size: 30px;">
          Red
          <p class="subtitle" style="color: #ffffff;">Cinnamon Theme</p>
        </div>
        <br /><br /><br />
        <button
          class="buttonlink"
          style="background-color: rgba(255, 0, 0, 0.05);"
          onclick="location.href='https://artemisbot.eu/static/download/Artemis-Spectrum-Red.tar.gz'"
          type="button"
        >
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table> <br />

<!--Table WHITE-->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 25%;">
        <div
          class="thumbnail"
          style="
            background-image: url(https://artemisbot.eu/static/images/spectrum/white.png);
          "
        ></div>
      </td>
      <td style="width: 75%; text-align: center;">
        <div class="glitch" style="color: #ffffff; font-size: 30px;">
          White
          <p class="subtitle" style="color: #ffffff;">Cinnamon Theme</p>
        </div>
        <br /><br /><br />
        <button
          class="buttonlink"
          style="background-color: rgba(255, 255, 255, 0.05);"
          onclick="location.href='https://artemisbot.eu/static/download/Artemis-Spectrum-White.tar.gz'"
          type="button"
        >
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table> <br />

<!--Table ORANGE-->
<table style="width: 100%;">
  <tbody>
    <tr>
      <td style="width: 25%;">
        <div
          class="thumbnail"
          style="
            background-image: url(https://artemisbot.eu/static/images/spectrum/orange.png);
          "
        ></div>
      </td>
      <td style="width: 75%; text-align: center;">
        <div class="glitch" style="color: #ff9900; font-size: 30px;">
          Orange
          <p class="subtitle" style="color: #ffffff;">Cinnamon Theme</p>
        </div>
        <br /><br /><br />
        <button
          class="buttonlink"
          style="background-color: rgba(255, 136, 0, 0.05);"
          onclick="location.href='https://artemisbot.eu/static/download/Artemis-Spectrum-Orange.tar.gz'"
          type="button"
        >
          Download
        </button>
      </td>
    </tr>
  </tbody>
</table> <br />

<%- include ("templates/spectrumbot.ejs") %>
