<!--CUT bottom-->
</div>
</th>
</tr>
</table>

<!--End actual content-->
</div>

<!--Collapse-->
<script src="/static/modules/cl.js"></script>

<!--Pixels-->
<script src="/static/modules/px.js"></script>

<!--Moving background-->
<script src="/static/modules/jq.js"></script>
<script src="/static/modules/bg.js"></script>

<script type="text/javascript">
    $(function(){
$('#focus').addClass('active');
})
</script>
<div class="infoBox">In the night of 15 july to 16 july between 10PM (utc+2) and 6AM (utc+2) the server will go down for maintenance. in between this time the bot may be unavailable.</div>
</body>
