<head>
  <!--Meta data-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="The home website for the discord bot Artemis, this website contains your dashboard and a control panel for mods+."
  />
  <meta property="og:image" content="/static/images/artava.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />

  <!--Title-->
  <title><%= test.client.user.username %></title>

  <!--favicon-->
  <link rel="shortcut icon" href="/static/images/logo2.svg" type="image/x-icon" />
  <link rel="icon" href="/static/images/logo2.svg" type="image/x-icon" />

  <!--Style shit-->
  <link href="/static/modules/spectrum.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <!--title-->
  <div class="container2">
    <div class="glitch">
      Artemis Spectrum
      <img src="/static/images/logo2.svg" height="50px" width="50px" />
    </div>
    <p class="subtitle">Cinnamon Themes</p>
  </div>

  <!--pixels-->
  <div id="container">
    <canvas id="pixie"></canvas>
  </div>

  <!--Moving background-->
  <div class="wrap">
    <div class="bg"></div>
    <div class="bg2"></div>

    <!--Menu-->
    <div class="menubar">
      <!--Link Menu-->
      <button
        class="buttonlink"
        style="background-color: rgba(0, 255, 55, 0.05);"
        onclick="window.open('https://github.com/UtopicUnicorns/artemis-spectrum','_blank')"
        type="button"
      >
        Github<br />
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        class="buttonlink"
        style="background-color: rgba(0, 255, 255, 0.05);"
        onclick="window.open('https://www.paypal.com/paypalme2/UtopicUnicorn','_blank')"
        type="button"
      >
        Paypal
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        class="buttonlink"
        style="background-color: rgba(0, 4, 255, 0.05);"
        onclick="window.open('https://discord.gg/EVVtPpw','_blank')"
        type="button"
      >
        Discord
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        class="buttonlink"
        style="background-color: rgba(251, 255, 0, 0.05);"
        onclick="window.open('https://artemisbot.eu/spectrum','_blank')"
        type="button"
      >
       Spectrum
      </button>
    </div>

    <!-- Actual content-->
    <br>
    <table width="800" border="0" align="center">
      <tr>
        <th scope="col">
          <!--Box-->
          <div class="contentbox">
            <!--CUT top-->

